  <div class="header-menu" style="width: 100%;">
  <div class="header">
    <img src="img/logo.gif" width="20%" alt="" />
  <% if !current_user %>    
    <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-social btn-facebook" style="float: right; top: 5px; right: 5px; text-decoration: none; color: white;">
      <span class="fa fa-facebook"></span>Sign in with Facebook</a>
  <% else %>
      <%= link_to "SignOut", destroy_user_session_path,:class => "btn btn-danger pull-right sign-out-button", :method => :delete %>
  <% end %>
  

  </div>
  <div class="season">
    <ul>
      <div class="active"><li><%= link_to "All", "/season_change/0" %></li></div>
      <li><%= link_to "Spring", "/season_change/1"  %></li>
      <li><%= link_to "Summer", "/season_change/2"  %></li>
      <li><%= link_to "Autum", "/season_change/3"  %></li>
      <li><%= link_to "Winter", "/season_change/4"  %></li>
    </ul>
  </div>
  <div class="container">
  <div class="categolly">
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-1 col-sm-1"><div class="active"><%= link_to "ALL", category_change_path(category_id:0), controller: "top", remote: true, action: "category_change" %></div></div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1"><%= link_to "FOOD", category_change_path(category_id:1), controller: "top", remote: true, action: "category_change" %></div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1"><%= link_to "SITE", category_change_path(category_id:2), controller: "top", remote: true, action: "category_change" %></div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1"><%= link_to "ACTIVITY", category_change_path(category_id:3, season:params[:id]), controller: "top", remote: true, action: "category_change" %></div><span></span>
      <div class="col-md-3 col-sm-3"></div>

    </div>
  </div>
</div>
</div>

  <div class="container">

  <div class="library">
    <div class="row">
      <% @photos.each do |photo|%>
        <div class="col-md-4 col-sm-12">
          <a rel="leanModal" href="#div787" onClick="set_modal('<%= photo.image.to_s %>', '<%= photo.text.to_s %>', '<%= user_favorite_check(current_user, photo.id) %>', '<%= photo.id %>', '<%= photo.organization.id %>')"><%= image_tag(photo.image, :width => "80%", :alt => "" ) %></a>
         </div>
      <% end %>
    </div>
  </div>
</div>

<div id="div787">
  <img id="modal_image" width="80%" alt="" /><p id="modal_text_target"></p>
<a href="" id="to-org"><div id="detail"><p>Area Detail</p></div></a>
<%= link_to favorite_path, method: :post, remote: true, id: "favorite_link" do %>
<i class="fa fa-heart" style="border: solid 1px #607D8B; padding: 3px 5px; color: #607D8B;" id="modal-like"></i>
<% end %>
</div>
</div>
</div>

<script type="text/javascript">
function set_modal(url, text, liked, id, organization_id) {
  var modal_target = document.getElementById('modal_image');
  var modal_text_target = document.getElementById('modal_text_target');
  var modal_icon = $('#modal-like');
  var link_to_organization = document.getElementById('to-org');
  var favorite_link = document.getElementById('favorite_link');
  favorite_link.setAttribute('href', '/favorite' + '?photo_id=' + id);
  link_to_organization.setAttribute('href', '/organizations/' + organization_id);
  modal_target.setAttribute('src', url);
  modal_text_target.innerHTML = text;
  if(liked=="true") {
    modal_icon.addClass('liked');
  }else{
    modal_icon.removeClass('liked');
  }
}

$(function() {
    $( 'a[rel*=leanModal]').leanModal({
        top: 50,                     // モーダルウィンドウの縦位置を指定
        overlay : 0.5,               // 背面の透明度
        closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
    });
});
</script>

<footer>
<p>Copyright @ Greatfind</p>
</footer>

