  <div class="header-menu" style="width: 100%;">
  <div class="header">
    <img src="img/logo.gif" width="20%" alt="" />
  <% if !current_user %>    
    <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-social btn-facebook" style="float: right; top: 5px; right: 5px; text-decoration: none; color: white;">

      <span class="fa fa-facebook"></span>Sign in with Facebook</a>
  <% else %>
      <%= link_to "SignOut", destroy_user_session_path,:class => "btn btn-danger pull-right sign-out-button", :method => :delete %>
  <% end %>
  </div>
  <div class="season">
    <ul>
      <li class="active"> <a href="#" data-remote="true" onClick="change_season(0); return false;">All</a></li>
      <li> <a href="#" data-remote="true" onClick="change_season(1); return false;">Spring</a></li>
      <li> <a href="#" data-remote="true" onClick="change_season(2); return false;">Summer</a></li>
      <li> <a href="#" data-remote="true" onClick="change_season(3); return false;">Autumn</a></li>
      <li> <a href="#" data-remote="true" onClick="change_season(4); return false;">Winter</a></li>
    </ul>
  </div>
  <div class="container">
  <div class="categolly">
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-1 col-sm-1"><div class="active">
      <a href="#" data-remote="true" onClick="change_category(); return false;">ALL</a>
      </div></div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1">
      <a href="#" data-remote="true" onClick="change_category('food'); return false;">FOOD</a>
      </div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1">
      <a href="#" data-remote="true" onClick="change_category('site'); return false;">SITE</a>
      </div>
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-1 col-sm-1">
      <a href="#" data-remote="true" onClick="change_category('activity'); return false;">ACTIVITY</a>
      </div><span></span>
      <div class="col-md-3 col-sm-3"></div>

    </div>
  </div>
</div>
</div>

  <div class="container">

  <div class="library">
    <div class="row" id="photo-list">
      <% @photos.each do |photo|%>
        <div class="col-md-4 col-sm-12">
          <a rel="leanModal" href="#div787" onClick="set_modal('<%= photo.image.to_s %>', '<%= photo.text.to_s %>', '<%= user_favorite_check(current_user, photo.id) %>', '<%= photo.id %>', '<%= photo.organization.id %>')"><%= image_tag(photo.image, :width => "80%", :alt => "" ) %></a>
         </div>
      <% end %>
    </div>
  </div>
</div>

<div id="div787">
  <img id="modal_image" width="80%" alt="" /><p id="modal_text_target"></p>
<a href="" id="to-org"><div id="detail"><p>Area Detail</p></div></a>
<%= link_to favorite_path, method: :post, remote: true, id: "favorite_link" do %>
<i class="fa fa-heart" style="border: solid 1px #607D8B; padding: 3px 5px; color: #607D8B;" id="modal-like"></i>
<% end %>
</div>
</div>
</div>
<%= form_tag update_photos_path, id: "form_data_update", remote: true do %>
<input type="hidden" value="0" name="season" id="season_state">
<input type="hidden" value="" name="category" id="category_state">
<% end %>

<script type="text/javascript">


var modal_begin = function() {
  $( 'a[rel*=leanModal]').leanModal({
        top: 50,                     // モーダルウィンドウの縦位置を指定
        overlay : 0.5,               // 背面の透明度
        closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
    });
}
var submit_form = function() {
  $('#form_data_update').submit();
}

function change_season(season) {
  $('#season_state').val(season);
  submit_form();
  modal_begin();
};
function change_category(c) {
  if(c == 0) {
    $('#category_state').val('');
  } else {
    $('#category_state').val(c);
  }
  submit_form();
  modal_begin();
};


function set_modal(url, text, liked, id, organization_id) {
  var modal_target = document.getElementById('modal_image');
  var modal_text_target = document.getElementById('modal_text_target');
  var modal_icon = $('#modal-like');
  var link_to_organization = document.getElementById('to-org');
  var favorite_link = document.getElementById('favorite_link');
  favorite_link.setAttribute('href', '/favorite' + '?photo_id=' + id);
  link_to_organization.setAttribute('href', '/organizations/' + organization_id);
  modal_target.setAttribute('src', url);
  modal_text_target.innerHTML = text;
  if(liked=="true") {
    modal_icon.addClass('liked');
  }else{
    modal_icon.removeClass('liked');
  }
}


$(

  modal_begin()

  );
</script>

<footer>
<p>Copyright @ Greatfind</p>
</footer>

