  <div class="header-menu" style="width: 100%;">
  <div class="header">
    <a href="<%= root_path %>">
    <img src="img/logo.gif" width="20%" alt="" />
    </a>

    <%= link_to "SignOut", destroy_user_session_path,:class => "btn btn-default pull-right sign-out-button", :method => :delete %>
    <%= link_to "Home", root_path,:class => "btn btn-default pull-right go-home-button", :method => :get %>
  </div>
  </div>

  <div class="container">

  <div class="library">
  <div class="main">
    
  <h2>Your Favorite Photos</h1>
  <hr>
  </div>
    <div class="row">
      <% @photos.each do |photo|%>
        <div class="col-md-4 col-sm-12">
          <a rel="leanModal" href="#modal-area" onClick="set_modal('<%= photo.image.to_s %>', '<%= photo.text.to_s %>', '<%= user_favorite_check(current_user, photo.id) %>', '<%= photo.id %>', '<%= photo.organization.id %>')"><%= image_tag(photo.image, :width => "80%", :alt => "" ) %></a>
         </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="main">
    <h2>Recommend!!</h2>
    <hr>

  </div>  
  
<% if @recommend_photos %>
  <div class = "row">
<% @recommend_photos.limit(3).each do |photo| %>
  <div class="col-md-4 col-sm-12">
    <a rel="leanModal" href="#modal-area" onClick="set_modal('<%= photo.image.to_s %>', '<%= photo.text.to_s %>', '<%= user_favorite_check(current_user, photo.id) %>', '<%= photo.id %>', '<%= photo.organization.id %>')"><%= image_tag(photo.image, :width => "80%", :alt => "" ) %></a>
    </div>
  <% end %>
  </div>
  </div>
  <% end %>

</div>
</div>

<%= render "shared/photo_modal" %>
<script type="text/javascript">
$(function() {
    $( 'a[rel*=leanModal]').leanModal({
        top: 50,                     // モーダルウィンドウの縦位置を指定
        overlay : 0.5,               // 背面の透明度
        closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
    });
});

function set_modal(url, text, liked, id, organization_id) {
  var modal_target = document.getElementById('modal_image');
  var modal_text_target = document.getElementById('modal_text_target');
  var modal_icon = $('#modal-like');
  var link_to_organization = document.getElementById('to-org');
  var favorite_link = document.getElementById('favorite_link');
  favorite_link.setAttribute('href', '/favorite' + '?photo_id=' + id);
  link_to_organization.setAttribute('href', '/organizations/' + organization_id);
  modal_target.setAttribute('src', url);
  modal_text_target.innerHTML = text;
  if(liked=="true") {
    modal_icon.addClass('liked');
  }else{
    modal_icon.removeClass('liked');
  }
}
</script>

